/* Mobile First Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav h1 {
    margin: 0;
    font-size: 1.5rem;
}

.hero {
    text-align: center;
    padding: 2rem 1rem;
    background: #f4f4f4;
}

.hero h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.about,
.skills,
.projects {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1rem 0;
}

.projects ul,
.skills ul {
    list-style: none;
    padding: 0;
}

.projects li,
.skills li {
    background: #eee;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.projects a li {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.projects a li p {
    font-weight: 300
}
.social-icons{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    gap: 10px;
}
i {
    color: #FFF;
}
li img{
    height: 12px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.projects a:hover li {
    color: #FFF;
    transition: all .2s ease-in-out;
    background-color: rgb(3, 3, 3);
}

/* Estilos para os itens da competência */
.skills li {
    margin-bottom: 10px;
    transition: all 0.2s ease; /* Transição suave */
}

/* Efeito de hover */
.skills li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); 
    font-weight: 700;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content, .modal-content  i{
    color: #333;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Icones */
.vue-icon {
    color: #42b883; /* Cor do Vue.js */
}

.html-icon {
    color: #f06529; /* Cor do HTML5 */
}

.css-icon {
    color: #2965f1; /* Cor do CSS3 */
}

.js-icon {
    color: #f0db4f; /* Cor do JavaScript */
}

.react-icon {
    color: #61dbfb; /* Cor do React */
}

/* Tablet Styles */
@media (min-width: 600px) {
    nav h1 {
        font-size: 2rem;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .about,
    .skills,
    .projects {
        padding: 2rem;
    }

    .profile-photo {
        width: 200px;
        height: 200px;
    }

    .projects li,
    .skills li {
        margin: 0.75rem 0;
    }

    .flex-col {
        display: flex;
        gap: 2em;
    }

    .flex-col p {
        display: flex;
    align-items: center;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    nav h1 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .about,
    .skills,
    .projects {
        padding: 3rem;
    }

    .profile-photo {
        width: 250px;
        height: 250px;
    }

    .projects li,
    .skills li {
        margin: 1rem 0;
        padding: 1rem;
    }
}

/* Television Styles */
@media (min-width: 1920px) {
    nav h1 {
        font-size: 3rem;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .about,
    .skills,
    .projects {
        padding: 4rem;
    }

    .profile-photo {
        width: 300px;
        height: 300px;
    }

    .projects li,
    .skills li {
        margin: 1.5rem 0;
        padding: 1.5rem;
    }
}