@use './styles/variables' as *;
@use './styles/mixins' as *;

.app {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color var(--transition), color var(--transition);
}

main {
  overflow-x: hidden;
}
